academictorrents==2.3.3
accelerate==0.22.0
albumentations==0.4.3
einops==0.3.0
ema_pytorch==0.1.4
h5py==3.9.0
imageio==2.9.0
matplotlib==3.7.2
more_itertools==10.1.0
numpy==1.24.4
omegaconf==2.1.1
opencv_python==4.1.2.30
opencv_python_headless==4.8.0.76
Pillow==10.0.0
pudb==2019.2
pytorch_lightning==1.4.2
PyYAML==6.0.1
Requests==2.31.0
scipy==1.9.1
setuptools==68.0.0
SimpleITK==2.2.1
skimage==0.0
streamlit==1.26.0
torch==2.0.1
torchvision==0.8.1
tqdm==4.66.1
transformers==4.3.1
typing_extensions==4.7.1
